<html>
	<head>
		<link href="styles.css" media="all" rel="stylesheet" type="text/css">
	</head>
	<body>
	Welcome! <%- (typeof name == "undefined") ? "guest" : name %>
	
	<script src="scripts.js"></script>
	</body>

</html>